<nav class="navbar">
    <header>
        <img src="/assets/icons/EasyHost.svg" class="easyhLogo" alt="" srcset="">
    </header>

    <section class="anchors">
        <ul>
            <li class="itemContainer icDash" style="cursor: pointer;">
                <img src="/assets/icons/dashIcon.svg" class="iconIcDash" alt="" srcset="">
                <a href="/">Painel de Controle</a>
                <div class="outDash"></div>
                <img src="/assets/icons/arrowIcon.svg" class="iconIcActive alternatePageDash" alt="" srcset="">
            </li>
            <li class="itemContainer icHist" style="cursor: pointer;">
                <img src="/assets/icons/historyIcon.svg" class="iconIcHist" alt="" srcset="">
                <a href="/history">Histórico Geral</a>
                <div class="outHist"></div>
                <img src="/assets/icons/arrowIcon.svg" class=" alternatePageHist iconIcActive" alt="" srcset="">
            </li>
        </ul>
    </section>
</nav>