

<nav class="navbar">
    <header>
    <img src="/assets/icons/EasyHost.svg" class="easyhLogo" alt="" srcset="">
    </header>

    <section class="anchors">
        <ul>
            <li class="itemContainer icActive">
                <img src="/assets/icons/dashIcon.svg" class="iconIcActive" alt="" srcset="">
                <a href="#">Painel de Controle</a>
                <div class="out"></div>
                </li>
            <li class="itemContainer icDisabled">
                <img src="/assets/icons/historyIcon.svg" class="iconIcActive" alt="" srcset="">
                <a href="#">Histórico Geral</a>
                <img src="/assets/icons/arrowIcon.svg" class="iconIcActive" alt="" srcset="">
                </li>
        </ul>
    </section>
</nav>