

<main class="mainDash">
    <header class="headerDash">
        <p class="titlePage">Painel de Controle</p>
        <input type="search" name="search" id="" class="searchBar" placeholder="Pesquise aqui...">
        <article class="profileCont">
            <img src="/assets/icons/arrowPfp.svg" class="arrow" alt="" srcset="">
            <p class="profileContTitle">
                Rafael Souza
            </p>
            <img src="/assets/img/pfp/pfp1.png" alt="" class="pfp" srcset="">
        </article>
    </header>
    <section class="cardsDashboard">
        <figure class="cardBigDashboard">

        </figure>
        <section class="subCardsDashboard">
            <figure class="cardSmallDashboard">
                
            </figure>
            <figure class="cardSmallDashboard csd2">

            </figure>
        </section>
        <figure class="notificationContainerDashboard">

        </figure>
    </section>
</main>