nav {
    background-color: #fff;
}

header{
    width: 80%;
}

.navbar {
    min-width: 280px;
    width: 20%;
    max-width: 320px;
    height: 100%;
    padding: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.easyhLogo {
    width: 75%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

li a {
    color: #434343;
    text-align: center;
    text-decoration: none;
}

.anchors ul{
    margin-top: clamp(75px, 7vh, 10vh);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.itemContainer {
    min-width: 250px;
    width: 80%;
    height: 6vh;
    min-height: 60px;

    border-radius: 12px;
    
    font-weight: bold;
    font-size: clamp(16px, 1.8vh, 25px);

    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: 1fr 2.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
.itemContainer a{
    color: #434343;
    min-width: 60%;
    text-align: left;
}

.icDash{
    background: var(--linear-cardbg, linear-gradient(151deg, #3D6E9C 14.5%, #3E91AD 96.35%));
}

.icDash a{
    color: #fff;
    width: 100%;
}

.icHist {
    background: none;
}

.icHist a {
    color: #434343;
    width: 100%;
}

.iconIcHist {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(50%) contrast(60%);
}

.alternatePageDash{
    display: none;
}

.outDash{
    width: 9;
    height: 14;
}
