.table{
    width: 100%;
    padding: 10px;
}
.itemTb{
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 1.2fr 1fr 0.4fr;
    justify-items: center;
}
.titleColumn{
    color: #9A9A9A;
    font-weight: 600;
}

.titleItem{
    color: #434343;
    padding: 5px 0;
}

.statusReserva{
    border: none;
    background-color: #434343;
    width: 80%;
    padding: 5px;
    border-radius: 40px;
    color: #fff;
}